
/* --------------------------- GLOBAL --------------------------- 
*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    color: black;
}

.hide {
    display: none;
}



/* --------------------------- HEADER --------------------------- 
*/

.headerContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 5.5px 13px -5px rgb(0 0 0 / 85%);
    margin: 0 0 1rem;
    border-radius: 0 0 15px 15px;
}

header img {
    width: 80px;
    border-radius: 50%;
    border: solid 2px black;
}


/* --------- MENU BURGER --------- */

.burger {
    cursor: pointer;
    border: solid 3px black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 1px 4px 0px rgb(0 0 0 / 85%);
}

.burger div {
    height: 3px;
    width: 25px;
    background-color: black;
    margin: 5px 0;
}


/* --------- NAV BAR TOGGLE --------- */

.navMobile {
    background-color: rgba(255, 255, 255, 0.75);  
    border: solid 2px white;
    border-radius: 10px;
    top: 120%;
    left: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 500;
    animation: navAnimation 0.8s;
}

.navMobile li {
    margin: 2rem 5rem;
}

@keyframes navAnimation {
    from {
        left: -50%;
    }

    to {
        left: 0;
    }
    
}

.toggleDisplay {
    display: none;
}


/* --------- TITLE --------- */
.title {
    padding: 40vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/wallpaper-4160.webp");
    background-position: center;
    background-size: cover;
}

.title h1 {
    color: white;
}


/* ----------------------- MAIN ----------------------- 
*/

.sectContainer {
    background-color: rgb(187, 187, 187);
    margin: 2rem 0;
    width: fit-content;
    margin: 5rem auto;
    padding: 2rem 5rem;
    border: solid 1px rgb(0, 0, 0);
    border-radius: 1px 1px 15px 15px;
    box-shadow: 0 2px 10px -0.5px #000000;
}

h2 {
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
    background-color: bisque;
    width: fit-content;
    margin: auto;
    padding: 1rem 2rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 10px -0.5px #000000;
}



/* ----- SECTION 1 ----- */
.containerFlex {
    display: flex;
    justify-content: center;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin: 3rem 0;
    background-color: rgb(125, 125, 125);
    border: solid 1px white;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 2px 10px -0.5px #000000;
}

input {
    text-align: center;
}

label {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 0.5rem;
}

form label:last-child {
    margin-top: 1rem;
}

#btnAgePrompt {
    width: 120px;
    height: 50px;
    color: white;
    background-color: rgba(153, 13, 13, 0.856);
    border: solid 1px white;
    border-radius: 10px;
    box-shadow: 0 1px 15.5px 5px #000000, inset 0 1px 13.5px -0.5px #000000;
    font-weight: 900;
    margin: 1rem 0;
    transition: all ease-in-out .04s;
    cursor: pointer;
}

#btnAgePrompt:active {
    box-shadow: 0 0px 0px 0px #000000, inset 0 1px 13.5px -0.5px #000000;
}

/* ----- SECTION 2 ----- */

#containerCenter {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerColumn {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 100%;
}

#section2 h2 {
    margin: 1rem auto;
    
}

#numberToBeFound {
    border-radius: 5px;
    color: green;
    display: flex;
    align-items: center;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 0 1px 10.5px 2px #000000;
    height: fit-content;
    margin: auto;
    padding: 1em 2em;
}

#section2 {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#section2 button {
    margin: auto;
    width: fit-content;
}

#section2 p {
    font-weight: 700;
    text-transform: uppercase;
}

.redColor {
    color: rgb(192, 4, 4);
}

.blueColor {
    color: rgb(1, 1, 196);
}

.container_chara {
    display: flex;
    justify-content: center;
    gap: 0 2rem;
    padding: 3rem 0;
    margin: 1rem 0;
    text-align: center;
    background-color: bisque;
    border-radius: 20px;
    border: solid 2px;
}

.container_chara img {
    margin: 1rem 5rem;
}


#scoreLabel {
    text-align: center;
    color: black;
}

#score {
    margin: 1rem auto;
    padding: 1em 2em;
    border: solid 1px;
    border-radius: 50%;
    width: fit-content;
    background-color: green;
    color: white;
}


/* Imgs */

/* characters */
.characters {
    width: 150px;
    height: 250px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}


/* Chara 1 Red */
.chara1BaseRed {
    background-image: url("../img/bR.png");
}

.chara1Win0Red {
    background-image: url("../img/bR-win0.png");
}

.chara1Win1Red {
    background-image: url("../img/bR-win1.png");
}

/* Chara 2 Blue */
.chara2BaseBlue {
    background-image: url("../img/bB.png");
}

.chara2Win0Blue {
    background-image: url("../img/bB-win0.png");
}

.chara2Win1Blue {
    background-image: url("../img/bB-win1.png");
}


/* ----------------------- FOOTER ----------------------- 
*/

/* 
